/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* general styles */
html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    background-color: hsl(257, 40%, 49%);
    width: 100vw;
    min-height: 100vh;
    font-family: Open Sans, Arial, sans-serif;
    color: white;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* header styles */
header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 90px;
}
header img {
    width: 180px;
}
/* main styles */
main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 92%;
    margin: auto;
    flex: 1 0 auto;
}
main img {
    width: 48vw;
    margin-right: 35px;
    margin-bottom: auto;
}
main section {
    margin-top: 5.5vh;
    margin-bottom: auto;
}
main h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5vw;
    max-width: 30vw;
}
main h2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
    max-width: 31vw;
    margin-bottom: 25px;
}
section button {
    position: relative;
    font-size: 18px;
    padding: 1.8vh 3.2vw;
    border: none;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
section button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}
/* footer styles */
footer {
    position: relative;
    flex-shrink: 0;
    height: 6vh;
}
.social-media-icons {
    position: absolute;
    right: 4vw;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.facebook-icon,
.twitter-icon,
.instagram-icon {
    margin: 0;
    cursor: pointer;
    padding: 8px;
    width: 19px;
    height: 19px;
    border: 1.2px solid white;
    border-radius: 100%;
    color: #ffffff;
}
.social-media-icons .icon > *:hover {
    border: 1.2px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
/* tooltips */
.facebook-tooltip,
.twitter-tooltip,
.instagram-tooltip {
    position: relative;
}
.facebook-tooltip::before {
    position: absolute;
    content: 'Facebook';
    color: #ffffff;
    background-color: rgba(182, 180, 180, 0.1);
    font-size: 11px;
    top: -20px;
    left: -5px;
    padding: 1px;
    border-radius: 5px;
    transform: scale(0);
}
.facebook-tooltip:hover::before {
    transform: scale(1);
}
.twitter-tooltip::before {
    position: absolute;
    content: 'Twitter';
    color: #ffffff;
    background-color: rgba(182, 180, 180, 0.1);
    font-size: 11px;
    top: -20px;
    left: -5px;
    padding: 1px;
    border-radius: 5px;
    transform: scale(0);
}
.twitter-tooltip:hover::before {
    transform: scale(1);
}
.instagram-tooltip::before {
    position: absolute;
    content: 'Instagram';
    color: #ffffff;
    background-color: rgba(182, 180, 180, 0.1);
    font-size: 11px;
    top: -20px;
    left: -5px;
    padding: 1px;
    border-radius: 5px;
    transform: scale(0);
}
.instagram-tooltip:hover::before {
    transform: scale(1);
}

section button::after {
    position: absolute;
    content: 'Register';
    color: #ffffff;
    background-color: rgba(182, 180, 180, 0.1);
    font-size: 12px;
    bottom: -22px;
    right: 0;
    padding: 2px;
    border-radius: 5px;
    transform: scale(0);
}
section button:hover::after {
    transform: scale(1);
}
/* media queries */
@media (max-width: 778px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    header {
        margin-bottom: 30px;
    }
    header img {
        width: 25vw;
        padding-left: 6vw;
        margin-bottom: 45px;
    }
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
    }
    main img {
        object-fit: contain;
        margin-right: 0;
        margin-bottom: 65px;
        width: 80vw;
    }
    main section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: auto;
    }
    main h1 {
        text-align: center;
        font-size: 5.5vw;
        max-width: 70vw;
        margin-bottom: 15px;
    }
    main h2 {
        text-align: center;
        font-size: 3.5vw;
        max-width: 72vw;
        margin-bottom: 25px;
    }
    section button {
        font-size: 18px;
        padding: 1.3vh 15vw;
        border: none;
        border-radius: 50px;
        color: hsl(257, 40%, 49%);
        font-weight: 400;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    .social-media-icons {
        position: static;
        right: 0;
        gap: 9px;
    }
    .facebook-icon,
    .twitter-icon,
    .instagram-icon {
        padding: 6px;
        width: 18px;
        height: 18px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: 10vh;
    }
}